!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }
    - if @description
      %meta(name="description" content=@description)
    - if @keywords
      %meta(name="keywords" content=@keywords)

    -# Set the viewport width to device width for mobile
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= @page.title

    %link(href='http://feeds.feedburner.com/wynn' rel='alternate' type='application/atom+xml')
    %link(href='http://fonts.googleapis.com/css?family=Bitter:400,700,400italic' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css')
    %link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic,300,300italic' rel='stylesheet' type='text/css')
    %link(rel='stylesheet' type='text/css' href='/css/application.css')

    %link(rel='icon' type='image/png' href='/images/favicon-alt.png')

    %link(rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png")
    %link(rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png")
  %body
    #root
      #mobile-nav.show-on-mobile
        = render_navigation
        .container
          %a.nav-toggle.open(href="#mobile-nav") &equiv;
          %a.nav-toggle.close(href="#") &equiv;
      .container
        .banner
          %a.feed.hide-on-mobile(href='http://feeds.feedburner.com/wynn') &#xe018;
          .branding
            %a.pengwynn(href="/") &#xe000;
          .hide-on-mobile
            = render_navigation
        = yield
        = haml :social
        #root_footer
    #footer.container
      .site-footer
        -# %img(src="/images/pengwynn-alt.png" height="48" width="48")
        Copyright 2007-#{Time.now.year}
        %a(href='http://wynn.fm') Wynn Netherland
        &bull;
        Entypo pictograms by Daniel Bruce —
        %a(href='http://entypo.com') Entypo.com

  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  <script src='//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js'></script>
  <script src='/js/prettify/prettify.js'></script>
  <script src='/js/site.js'></script>
  = haml :analytics
  /
    Ruby: #{RUBY_VERSION}
