%section#meta
  - if @page.date
    .date= format_date(@page.date)
  - else
      
%section#content
  %section.breadcrumb
    %a{ :href => "/" } Home
    &raquo;
    - if @page.parent
      %a{ :href => @page.parent.abspath }= @page.parent.heading
      &raquo;
    = @page.heading
  
  = @page.metadata.repo

  ~ @page.to_html

  - unless @page.pages.empty?
    #pages
      - @page.pages.each do |page|
        = theme_partial 'summary', :locals => { :article => page, :heading => :h2 }
  
  - unless @page.articles.empty?
    #articles
      - @page.articles.each do |article|
        = theme_partial 'summary', :locals => { :article => article, :heading => :h2 }

  - unless @page.categories.empty?
    .categories
      Filed under
      - @page.categories.each do |category|
        %a{ :href => category.abspath }= category.heading

  = theme_partial 'social'
  = theme_partial 'feed', :locals => { :title => @site_title }
  = theme_partial 'comments'

%aside#sidebar
  .intro= partial 'shared/intro'
  = theme_partial 'categories'
  = theme_partial 'feed'