~ @page.to_html(self)

.page(role='main')
  .content
    .books.block-list
      - @page.pages.sort_by{|p| p.metadata('year').to_i }.reverse.each do |book|
        .book.item{:class => book.metadata('tags').to_s.split(',').join(' ')}
          .thumb
            - unless (thumb = book.metadata('thumb_url')).nil?
              = link_to book.metadata('url') do
                = image_tag(thumb, :class => 'frame', :alt => book.heading, :title => book.heading)
            &nbsp;
          .info
            - haml_tag (defined?(heading) ? heading : :h2) do
              %a{ :href => book.metadata('url') }= book.heading
            .book-meta
              = book.metadata('year')
              &bull;
              = book.metadata('publisher')
            .summary= book.summary.html_safe
